@charset "UTF-8";
.topic-section{
    margin-bottom: 15px;
    background: #ffffff;
}
.topic-section-wrap .topic-section:last-child{
    margin-bottom: 0px;
}
.topic-section img{
    width: 100%;
}
.topic-section .title{
    font-size: 17px;
    line-height: 24px;
    margin-top: 5px;
}
.md-title-box{
    padding-top: 10px;
}
.md-title-box .img-box{
    width: 124px;
    height: 70px;
    overflow: hidden;
    float: left;
}
.topic-section .md-title-box .title{
    position: relative;
    margin-left: 137px;
    height: 72px;
    overflow: hidden;
    margin-top: 0px;
}
.topic-section .info{
    font-size: 14px;
    line-height: 19px;
    color: #999999;
    margin-top: 10px;
}
.topic-section .topic-tag{
    font-size: 12px;
    color: #bbbbbb;
    margin-top: 10px;
}
.topic-section .topic-tag .tag{
    height: 17px;
    line-height: 17px;
    font-size: 10px;
    color: #999999;
    margin-top: 10px;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 2px 7px;
    margin-right: 5px;
}

.topic-section .topic-tag .nbsp{
    margin-left: 10px;
}

.topic-section .user-box{
    border-top: 1px solid #F0F0F0;
    height: 53px;
    margin-top: 12px;
}
.topic-section .user-box .number-people-box{
    line-height: 53px;
    color: #bbbbbb;
}
.topic-section .user-box .number{
    color: #3CA5F6;
}
.topic-user-ul{
    float: left;
    position: relative;
    top: 13px;
    left: 10px;
}
.topic-user-ul li{
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 13px;
    float: left;
    margin-right: 10px;
}
.topic-user-ul li:nth-child(n+6){
    display: none;
}
.bottom-more .btn-link{
    display: block;
    cursor: pointer;
    color: #bbbbbb;
}
.topic-wrap{
    background: #ffffff;
}
.topic-wrap .title{
    font-size: 23px;
    line-height: 30px;
    padding-top: 15px;
}
.topic-wrap .info{
    font-size: 12px;
    line-height: 23px;
    color: #bbbbbb;
    margin-top: 8px;
}
.topic-wrap .topic-content{
    font-size: 15px;
    line-height: 20px;
    color: #999999;
    margin: 8px 0 0 0;
    padding-bottom: 12px;
}
.topic-h2{
    font-size: 18px;
    line-height: 35px;
    padding-left: 15px;
}
.topic-h2:before{
    position: absolute;
    content: '';
    display: inline-block;
    background-color: #f63756;
    z-index: 1;
    height: 16px;
    line-height: 1;
    margin: 10px 0 0 -15px;
    width: 5px;
}
.hot-content-wrap{

}
.user-info-box .pic-box{
    float: left;
    position: relative;
}
.user-info-box .pic-box img{
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 13px;
}
.content-box{
    background: #ffffff;
    padding-top: 20px;
    margin-bottom: 15px;
    word-wrap: break-word;
    word-break: normal;
}
.content-box:last-child{
    margin-bottom: 0;
}
.user-info-box .info-name-wrap{
    color: #bbbbbb;
    font-size: 12px;
    margin-left: 35px;
}
.user-info-box .info-name-wrap .info{
    height: 14px;
    overflow: hidden;
}
.content-box .content-comment{
    font-size: 16px;
    color: #333333;
    line-height: 21px;
    padding: 15px 0 0px 33px;
}
.info-name-wrap .line{
    margin:0 5px;
}
.dp-content-wrap{
    background: #f5f5f5;
    margin: 15px 0 0 33px;
}
.dp-content-wrap ul li{
    padding: 10px 10px 0 10px;
}
.dp-content-wrap ul li:last-child{
    padding-bottom: 10px;
}
.dp-content{
    margin: 0;
    font-size: 15px;
    line-height: 20px;
}
.dp-content .name{
    color: #999999;
}
.dp-content-wrap .bottom-more{
    background: #f5f5f5;
    border-color: #dddddd;
}
.btn-content{
    border-top: 1px solid #F0F0F0;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
.btn-content ul li{
    background: #FFFFFF;
    width: 33.33%;
    float: left;
    text-align: center;
    height: 45px;
    line-height: 55px;
    cursor: pointer;
}
.btn-content ul li .number{
    color: #bbbbbb;
    font-size: 14px;
    position: relative;
    top: -2px;
    margin-left: 5px;
}
.icon-sm{
    width: 20px;
    height: 20px;
}
.icon-sm-speak{
    background-position: -60px -176px;
}
.icon-sm-share{
    background-position: -95px -175px;
}
.icon-sm-praise{
    background-position: -130px -176px;
}
.icon-sm-praise.active{
    background-position: -165px -176px;
}
.icon-md-collect{
    background-position: -158px -33px;
}
.icon-md-collect.active{
    background-position: -78px -33px;
}
.footer-btn-content{
    position: fixed;
    height: 49px;
    border-top: 1px solid #dddddd;
    background: rgba(249, 249, 249, 0.95);
    bottom: 0px;
    z-index: 100;
    width: 100%;
    max-width: 640px;
}
.footer-btn-content .input-from{
    float: left;
}
.footer-btn-content .input-from input{
    width: 100%;
    z-index: 10;
}
.footer-btn-content .footer-icon-group{
    position: absolute;
    margin-top: 7px;
    right: 0px;
    text-align: right;
    z-index: 1;
}
.footer-btn-content .footer-icon-group i{
    margin-right: 15px;
}
.footer-input-from{
    float: left;
    width: 100%;
    padding: 7px 115px 0 15px;
    z-index: 10;
}
.footer-one-input-from{
    padding: 7px 60px 0 15px;
}
.footer-input-from input{
    border: 1px solid #F0F0F0;
    width: 100%;
    height: 33px;
    border-radius: 33px;
    padding-left: 10px;
    font-size: 15px;
    z-index: 1;
}
.footer-input-from .input-box{
    border: 1px solid #F0F0F0;
    width: 100%;
    height: 33px;
    border-radius: 33px;
    padding-left: 10px;
    font-size: 15px;
    z-index: 1;
    background: #FFFFFF;
    color: #bbbbbb;
    cursor: pointer;
    line-height: 33px;
}
.topic-no-content-box{
    text-align: center;
    background: #FFFFFF;
    color: #999999;
    line-height: 200px;
    font-size: 15px;
}



/* CSS Document */

